.movie {
  display: flex;
  margin: 0 5px;
}

.poster {
  width: 250px;
  background-color: blueviolet;
}

.descrption {
  margin-left: 20px;
}

.button {
  width: 90px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  margin: 10px;
  background-color: darkslateblue;
  text-decoration: none;
  padding: 5px;
  color: burlywood;
}

.buttonTitle {
  text-decoration: none;
  margin-left: 5px;
}
